spring:
  application:
    name: pokedex-bff
  datasource:
    url: jdbc:postgresql://db:5432/pokedex
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update # none update validate
    show-sql: true

app:
  data:
    location: data/

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE