spring:
  datasource:
    url: jdbc:h2:mem:pokedex_test_db;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false

logging:
  level:
    org.hibernate: WARN
