version: '3.8'

services:
  db:
    container_name: pokedex-bff-db
    image: postgres:15-alpine
    env_file: .env
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - pokedex-net
    deploy:
      resources:
        limits:
          memory: 512M
    secrets:
      - postgres-password

  bff:
    container_name: pokedex-mobile-bff
    image: pokedex-bff:prod
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    ports:
      - "8080:8080"
    networks:
      - pokedex-net
    depends_on:
      db:
        condition: service_healthy
    secrets:
      - db-password

networks:
  pokedex-net:
    driver: overlay

volumes:
  postgres-data:

secrets:
  postgres-password:
    file: ./secrets/postgres_password.txt
  db-password:
    file: ./secrets/db_password.txt