# docker/docker-compose.dev.yml
version: '3.8'

services:
  db:
    container_name: pokedex-db
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: pokedex_db
    ports:
      - "5432:5432"
    volumes:
      - db_data_dev:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./data/csvs:/docker-entrypoint-initdb.d/csvs # <--- CONFIRME QUE ESTA LINHA ESTÃ ASSIM
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d pokedex_db"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  db_data_dev: