name: "Feature CI"

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [main, develop]
    paths-ignore:
      - '**.md'
      - 'doc/**'
      - '.gitignore'
      - 'LICENSE'

jobs:
  ci:
    uses: ./.github/workflows/shared-ci.yml
    with:
      run-sonar: ${{ secrets.SONAR_TOKEN != '' }}
      run-deployment: false
      environment: 'development'
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
